/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.width-percent{
    width: 100%;
}

/* inizio del layout */

.container {
    width: 80%;
    height: 650px;
    margin: 0 auto;
}

.float {
    float: left;
}

/* margine sotto ai vari tag */

.margin-bottom {
    margin-bottom: 20px;
}

/* header figlio di container */

.container > header {
    width: 100%;
    height: 10%;
}

header > img{
    height: 60%;
    padding-right: 5%;
    object-fit: contain;
    border-right: 1px solid;
}

ul > li{
    font-size: small;
    display: inline-block;
    padding: 10px 5px 0 0;
    text-transform: uppercase;
    color: rgb(170, 169, 169);
}

header > nav {
    height:calc(20% - 20px);
}

/* immagine principale con le scritte all'interno */

div.principal-img{
    height: 40%;
/*  background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/banner.jpg); */
}

div.principal-img > img{
    height: 100%;
    object-fit: cover;
/*  background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); */
}

div.principal-img > div.absolute{
    bottom: 10%;
    color: white;
    padding: 0 40% 0 5%;
}

/* corpo del contenitore */

main {
    height: 55%;
}

/* header figlio del main */

main > header {
    height: 15%;
}

p{
    font-size: small;
}

/* parti laterali */

.lateral-section {
    width: calc((45% / 2) - 10px);
    height: calc(80% - 40px);
}

section img{
    height: 40%;
    object-fit: cover;
    border-radius: 20px;
}

/* parte centrale del main */

.section-central {
    width: 55%;
    height: calc(80% - 40px);
    margin: 0 10px;
}

/* piede del contenitore */

footer {
    width: 100%;
    text-align: center;
}

footer span{
    color: red;
}
